<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="" style="color: aliceblue;">
            <img src="assets/img/1404402.png" alt="" width="50" height="50" class="d-inline-block align-text-center">
            FarmBog
            </a>
        </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="" style="color: aliceblue;">Inicio</a>
    </li>
    <li class="nav-item dropdown m-6">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: aliceblue;">
        Droguerias
        </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Ingresar Lugares</a></li>
            <li><a class="dropdown-item" href="#">Lista de Lugares</a></li>
            </ul>
        </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: aliceblue;">
    Medicamentos
    </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" >Ingresar Medicamentos</a></li>
        <li><a class="dropdown-item" >Lista de Medicamentos</a></li>
        </ul>
    </li>

        </ul>
    
    </div>
    </div>
</nav>
