
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.navbar{
    padding: 50px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(57, 163, 235);
}
.navbar-brand{
    color: aliceblue;
    font-size: xx-large;

}
.dropdown-item{
    font-size: 20px;
    

}