<app-navbar></app-navbar>


    <div class="container-fluid d-flex justify-content-center align-items-center contents-page">
        <div class="contents-container">
            <form >
                <h3 class="title_out d-flex justify-content-center" >Inicio de sesión</h3>
                <input class="form-control" type="text" placeholder="Nombre de Usuario" aria-label="default input example"> 
                <input class="form-control" type="text" placeholder="Contraseña" aria-label="default input example">
                <!-- <input class="form-control" type="text" placeholder="Email de propietario" aria-label="default input example">
                <input class="form-control" type="text" placeholder="Dirección de Drogueria" aria-label="default input example">
                <input class="form-control" type="file"> -->
                <!-- <p>Si necesita un usuario contactese con</p> -->
                <button class="btn btn-primary form-control">Ingresar </button>

            </form>
        </div>
    </div>
