<app-navbar></app-navbar>

<section class="welcome">
    <div class="welcome_img">
        <img class="img_doctors" src="assets/img/doctors.png" alt="doctors" >
    </div>

    <div class="welcome_description">
        <p class="title_des text-center"> ¡BIENVENIDOS A FARMBOG!</p>
        <p class="paragraph_des text-center"> Aquí podrás encontrar nuestros lugares oficiales y medicamentos.</p>
        <button class="btn btn-primary redirect_phar" routerLink="pharmacys"> PUNTOS OFICIALES</button>
    </div>
</section>

<app-footer></app-footer>




